@charset "utf-8";
/* CSS Document */

.ddbg {
    background-color: #efeff4;
}
body {
    font-family: Helvetica, STHeiti STXihei, Microsoft YaHei, Arial;
}
.ybdiy .weui_cells {
    margin-top: 0.8em;
    font-size: 14px;
}
.f-bigbox {
    background-color: #fff;  
}
.fa-bigbox {
    padding: 14px 14px;
    
}
.f-moren {
    float: left;
    margin-top: 4px;
    margin-right: 8px;
}.f-number {
    float: left;
    margin:3px 6px 0px 10px;
    
}.f-moren img {
    background-color: #f9f9f9;
    border-radius: 100%;
}.tit {
	border: 1px solid #efefef; 
    border-radius: 5px;
    color: #111;   
    text-align: center;
    font-size: 12px; padding: 0px 4px
 
}.phone {
    color: #111; 
}
 
.ybdiy p {
    display: block;
    -webkit-margin-before:0px;
    -webkit-margin-after:0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}



 .wdq .weui_navbar+.weui_tab_bd {
    padding-top:67px;
    padding-bottom: 0;
}
.weui_navbar_item .bm{ font-size:24px; line-height: 22px; font-weight: bold; color:#333;text-overflow:ellipsis;
	white-space:nowrap; 
	overflow:hidden;
	display:inline-block; width:99%; }
.weui_navbar_item .sm{ font-size: 12px; line-height: 12px;}
.weui_navbar_item{ padding: 13px 10px}



.wdfl .weui_navbar+.weui_tab_bd {
    padding-top:85px;
    padding-bottom: 0;
}
.wdfl .weui_navbar_item .bm{ font-size:24px; line-height: 22px; font-weight: bold; color:red;text-overflow:ellipsis;
	white-space:nowrap; 
	overflow:hidden;
	display:inline-block; width:99%; text-align: left}
.wdfl .weui_navbar_item .sm{ font-size: 12px; line-height: 12px;text-align: left}
 .cktxx{float: right; font-size: 14px; margin-right: 18px; color: #999; padding: 4px 0px 4px 4px; text-decoration:underline}
.anniu {
    margin:20px 18px 10px 18px;
}
.w-icon{width:20px; vertical-align: middle; margin-right: 5px; margin-top:-2px }
.w-icon.big{width:35px; margin-left: -4px; margin-right:2px}
.weui_navbar_item.pjia{ padding-top:20px; padding-bottom:20px}
.tixianlist .ao{ padding:10px 14px}
.tixianlist .ao  .zh{  font-size:16px; line-height:16px; margin-right:30px}
.tixianlist .ao  .zhs{  font-size:12px; color:#999; margin-top:4px}
.tixianlist .ao .zt{  font-size:12px; color:red; position:absolute; top:10px; right:14px}
.tixianlist .ao .zt.on{ color:#0DC122}
.tixianlist li{ background-color:#fff; width:100%; border-bottom:1px solid #ddd;line-height: 16px; position:relative}
.tixianlist .time{clear:both; font-size:12px; color:#999;}


.loding {
	 
}
.loding .weui_input {
	width: 100%;
	border: 0;
	outline: 0;
	-webkit-appearance: none;
	background-color: transparent;
	font-size: inherit;
	color: inherit;
	height: 1.41176471em;
	line-height: 1.41176471;
	margin-left: 20px;
}
.loding .weui_cells_form .weui_cell_ft {
	font-size: 0;
	margin: 8px 15px 8px 0px;
}
.loding .weui_label {
	display: block;
	width: 20px;
	word-wrap: break-word;
	word-break: break-all;
}
.loding .weui_btn.weui_btn_mini {
	line-height: 1.9;
	font-size: 14px;
	padding: .20em .75em;
	display: inline-block;
}
.loding .nomessage a{
  float: right;
  margin-right: 18px;
  margin-top: 10px;
  font-size: 12px;
  color: #878787;
  background-color: #fff;
}
.loding .or{
	text-align: center;
  color: #C9C9C9;
}
.anniu{
	margin:10px 20px
	}
.loding .weui_btn_plain_default {
  color: #5a5a5a;
  border: 1px solid #C8C8C8;
}
.loding .margt{
	  margin-left: 7px;
}
/*go*/
.lodinggo{
  background-color: #e7e8e9;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.lodinggo .bacfff{
  background-color: #fff;
  border-radius: 8px;
  padding: 16% 10% 16% 10%;
  margin-top: 15%;
  margin:22% 9%;
}
.lodinggo .textc{
	text-align:center;
}
.lodinggo .fontone{
	  font-size: 12px;
  color: #bababb;
  margin-top: 10px;
}
.lodinggo .fonttwo{
	  font-size: 12px;
  color: #bababb;
  margin-top: 15px;
}

.sl-zdy {
    background-color: #ef4f4f;
    padding:10px 0px;
    color: #fff; position:fixed;top:0px;left:0px;right:0px; z-index:999999
}
.sl-zdy li{ list-style-type:none}
.sl-float-ul {
    width: 100%;
    overflow: hidden;
    zoom: 1;
    display: -webkit-flex;
    display: flex;
}.sl-zdy .sm {
    font-size: 12px;
}.sl-zdy .bm {
    font-size: 22px; line-height:24px
}
.weui_cell_ft.lv {
    color: #00C009;
}.weui_cell_ft.red {
    color: red;
} 
.p6t3{padding-top:63px;}
.liushui .weui_cell_hd img{ border-radius:100%}



.lodinggoss{
  background-color: #e7e8e9;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.lodinggoss .bacfff{
    background-color: #fff;
    border-radius: 8px;
    padding:5% 5% 10% 5%;
    /* margin-top: 6%; */
    margin:8%;
}
.lodinggoss .textc{
	text-align:center;
}
.liushui .weui_cell{padding: 15px 15px;}

.weui_navbar.s {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 999999;
}.weui_navbar.s.vs .weui_navbar_item.weui_bar_item_on {
    background-color: #fff;
    color: #E00003;
    font-weight: 700;
}


.q-coupon_item {
    overflow: hidden;
    display: block;
    position: relative;
    margin: 6px;
    background: #ef4f4f;
    color: #fff;
    font-size: 12px;
}



.q-coupon_item {
    min-height: 95px;
    padding-left: 120px;
}
.q-card_content_pane {
    border-bottom: 1px dotted #ddd;
}
a.q-coupon_item {
    color: #fff;
}
.q-coupon_item .date {
    padding-top: 7px;
    font-size: 16px;
    font-weight: 700
}
.q-coupon_item .name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.q-coupon_item .name {
    overflow: hidden;
    padding-right: 15px;
    font-size: 12px;
    line-height: 15px;
}
.q-coupon_item .id {
    font-size: 12px; display:none
}
.q-coupon_item .ids {
    font-size: 12px; display:none
}
.q-coupon_item .name,.q-coupon_item .names {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; display:none
}
 
.q-coupon_item .time {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.q-coupon_item .pingpai {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;text-overflow:ellipsis;	white-space:nowrap;overflow:hidden;display:inline-block; width: 90%
}
.q-coupon_item .q-count {
    position: absolute;
    top: 12px;
    left: 10px;
    font-size: 24px;
    font-weight: bold;
    width: 100px;
    text-align: center;
    font-weight: normal;
}
.q-coupon_item .q-count em {
    margin-right: 5px;
    font-style: normal
}
.q-coupon_item.over .name:after, .q-coupon_item.disabled .name:after, .q-coupon_item.over .name:after, .q-coupon_item.disabled .name:after, .q-coupon_item:before, .q-coupon_item:after, .q-coupon_item .select:before, .q-coupon_item:before, .q-coupon_item.yishiyong .name:after, .q-coupon_item.weishiyong .name:after {
    content: '\20';
    display: block;
}
.q-coupon_item:before, .q-coupon_item:after {
    position: absolute;
    z-index: 1;
    top: 4%;
    height: 92%;
    width: 5px;
    background-image: url(../images/yyuan.png);
    background-repeat: repeat-y;
    -webkit-background-size: 5px 8px;
    background-size: 5px 8px;
}
.q-coupon_item:after {
    right: -2px;
}
.q-coupon_item:before {
    left: -2px;
}
.q-count span {
    font-size: 12px;
}
.dsfe{font-size:12px; background-color:#fff; color:red; padding:2px 0px; margin:2px 15px 0px 8px; border-radius:4px;}
.q-coupon_item.guoqi { 
    background:#9F9F9F;
    color: #fff;
 
}
.guoqi .dsfe{ color:#999}

.q-coupon_item.zhuanfa .q-count { 
    top: 12px;    
}

.q-coupon_item.zhuanfa { 
    background:#FF5730;
    color:#fff; 
 
}
.q-coupon_item.zhuanfa .date {
    padding-top:7px;
    font-size: 16px;
    font-weight: 700;
}
.zhuanfa .dsfe{ color:#FF5730}
.q-coupon_item.zhuanfa .name{ display:block; line-height: 11px}

.q-coupon_item.zhuanfa .id{ display:none}



.q-coupon_item.wd .q-count { 
    top: 12px;    
}

.q-coupon_item.wd{
    background:#57B700;
    color:#fff; 
 
}
.q-coupon_item.wd .date {
    padding-top:7px;
    font-size: 16px;
    font-weight: 700;
}
.wd .dsfe{ color:#57B700}
.q-coupon_item.wd .names{ display:block; line-height: 11px}

.q-coupon_item.wd .id{ display:none}


.lqkk{ padding:10px; background-color:#fff}
.hjkf .lqkk{ background-color: transparent; z-index:999}
.lqkk .q-card_content_pane{ border:none}
.lqkk .q-card_content_pane .dsfe{ display:none}
.lqkk .q-coupon_item .q-count{top:30px;}
.ddbg.b{ background-color:#fff}
.lqkk .q-card_content_pane .id{ display:none}
.lqkk .q-card_content_pane .ids,.q-coupon_item .ids{ display:block}
.linguo .id,.guoqi .id{display:block} .linguo .ids,.zhuanfa .ids,.wd .ids,.guoqi .ids{ display:none}

.lqkk .q-card_content_pane .zhuanfa .ids,.lqkk .q-card_content_pane .zhuanfa .wd{ display:none}

.weui_mask.hghg{
    background: rgba(0,0,0,.8);z-index:-1
} 

.hjkf .q-coupon_item:before,.hjkf .q-coupon_item:after {
    position: absolute;
    z-index: 1;
    top: 4%;
    height: 92%;
    width: 5px;
    background-image: url(../images/yyuan2.png);
    background-repeat: repeat-y;
    -webkit-background-size: 5px 8px;
    background-size: 5px 8px;
}

 
.ddbg.b .q-coupon_item:before,.ddbg.b .q-coupon_item:after {
    position: absolute;
    z-index: 1;
    top: 4%;
    height: 92%;
    width: 5px;
    background-image: url(../images/yyuan1.png);
    background-repeat: repeat-y;
    -webkit-background-size: 5px 8px;
    background-size: 5px 8px;
}

.huayang .weui_btn,.huayang .weui_btn:after{ border-radius:0px; padding-top:8px; padding-bottom:8px}
.huayang .weui_btn.weui_btn_default {
    background-color: #fff;
    color: red;
}
#mcover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 20000;
}
#mcover img {
    position: fixed;
    right: 18px;
    top: 5px;
    width: 260px!important;
    height: 68px!important;
    z-index: 20001;
}



.weui_cells.mdd .weui_cell{padding: 14px 15px;}

/*20170109*/
.msg {
    color: #666;
    font-size: 12px;
    line-height: 2em;
    padding: 0 10px;
    background-color: #f5f5f5;
}.list {
    margin: 20px 0 10px 10px;
    padding: 0;
    position: relative;
}.list li {
    display: inline-block;
    margin-bottom: 10px;
    -webkit-animation: zoomIn 300ms ease;
}
.list li a {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 0 6px;
    text-align: center;
    font-size: 14px;
    line-height: 28px;
    display: block;   
    padding: 2px 14px;
    color: #111;
}
.list li.fixed a {
    background-color: #FF4949;
    border: 1px solid #FF4949;   
    color: #fff;
    padding: 2px 14px;
}
